<nav class="nav-options">
  <div class="options">
    <div class="filters">
      <div class="filter">
        <i class="fa-solid fa-globe"></i>
        <a href="/listings">All</a>
      </div>
      <div class="filter">
        <i class="fa-solid fa-house-chimney"></i>
        <a href="/listings/new/home">Homes</a>
      </div>
      <div class="filter">
        <i class="fa-solid fa-parachute-box"></i>
        <a href="/listings/new/Experiences">Experiences</a>
      </div>
      <div class="filter">
        <i class="fa-solid fa-bell-concierge"></i>
        <a href="/listings/new/services">Services</a>
      </div>
    </div>
    <div class="tax-toggler">
      <div class="form-check form-switch taxBtn">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="switchCheckDefault"
        />
        <label class="form-check-label" for="switchCheckDefault"
          >Show Prices including Taxes</label
        >
      </div>
    </div>
  </div>
</nav>
